<main class="top-margin-nav-height" id="main-product-content">
    <section id="product-banner" class="flex-center">
        <div class="jumbo-div"></div>
    </section>
    <div class="full-width-slider-divider"></div>
    <section>
        <div class="container">
            <div class="row center">
                <div class="col s12">
                    <h1>NEW TEMPLATE</h1>
                    <h1 class="product-name-heading oswald" ng-bind-html="productIdObj.productName | renderHTMLCorrectly"></h1>
                    <div class="divider"></div>
                    <h2 class="product-name-subhead">{{ productIdObj.subHeader }}</h2>
                </div>
            </div>
            <div ng-if="productIdObj.colors" class="row flex-row-wrap">
                <div class="prod-illustration-div col s12 l8">
                    <div class="prod-svg-wrapper" ng-include="'/img/illustrations/illustration_' + productIdObj.illustration + '.svg'" onload="defaultFill(productIdObj.colors)"></div>
                </div>
                <div class="col s12 l4 product-button-card">
                    <h5>Select Your Color</h5>
                    <div class="product-color-list">
                        <div ng-repeat="(color, hex) in productIdObj.colors" class="product-color-chip-container" style="margin: 10px;">
                            <div ng-mouseover="hoverColorText(this)" class="z-depth-2 product-color-chip {{color}}" alt="{{ hoverColor }}" style="background-color: {{ hex }};"></div>
                        </div>
                    </div>
                    <p class="product-hover-color-text"> {{ hoverColor }} </p>
                </div>
            </div>
            <div ng-if="productIdObj.dataSheetLink" class="row">
                <div class="card grey lighten-4">
                    <ul class="product-card-buttons flex">
                        <li class="bullet-download">
                            <h5 class="download oswald">Downloads:</h5>
                        </li>
                        <li ng-if="productIdObj.dataSheetLink" class="product-download-btns waves-effect waves-light">
                            <a href="/pdf/{{ productIdObj.dataSheetLink }}" target="_blank" class="btn-floating btn-large amber darken-3">
                                <i class="material-icons small">insert_chart</i>
                            </a>
                            <p>Data Sheet</p>
                        </li>
                        <li ng-if="productIdObj.quoteSheetLink" class="product-download-btns waves-effect waves-light">
                            <a class="btn-floating btn-large amber darken-3" href="/pdf/{{ productIdObj.quoteSheetLink }}" target="_blank">
                                <i class="material-icons small">format_quote</i>
                            </a>
                            <p>Quote Request</p>
                        </li>
                        <li ng-if="productIdObj.specPageLink" class="product-download-btns waves-effect waves-light">
                            <a class="btn-floating btn-large amber darken-3" href="{{ productIdObj.specPageLink }}" target="_blank">
                                <i class="material-icons small">attach_file</i>
                            </a>
                            <p>Spec Sheet</p>
                        </li>
                        <li ng-if="productIdObj.colors && !productIdObj.id === 'lead_tees'" class="waves-effect waves-light">
                            <a class="product-download-btns btn-floating btn-large amber darken-3" href="/pdf/firestone_color_chart.pdf" target="_blank">
                                <i class="material-icons dp48">invert_colors</i>
                            </a>
                            <p>Firestone Color Chart</p>
                        </li>
                        <li ng-if="productIdObj.colors && !productIdObj.id === 'lead_tees'" class="waves-effect waves-light">
                            <a class="product-download-btns btn-floating btn-large amber darken-3" href="/pdf/fabral_color_chart.pdf" target="_blank">
                                <i class="material-icons dp48">format_color_fill</i>
                            </a>
                            <p>Fabral Color Chart</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p class="product-overview"> {{ productIdObj.overview }}</p>
                <div class="divider"></div>
            </div>
            <div class="row center" ng-if="productIdObj.detailImg">
                <img class="product-detail-image" ng-src="/img/illustrations/{{productIdObj.detailImg}}" alt="{{productIdObj.productName}}">
            </div>
            <div class="row">
                <h5 class="collection-header features oswald" ng-init="calculateColumns()">Features:</h5>
                <ul class="collection with-header col sm12 l6 product-features-list" ng-repeat="column in columns">
                    <li class="collection-item" ng-repeat="feature in productIdObj.features | slice:column.start:column.end">
                        <a class="left">
                            <i class="material-icons dp48 blue-text text-darken-4">play_circle_filled</i>
                        </a>
                        <div>{{ feature }}</div>
                    </li>
                </ul>
            </div>
            <div ng-if="productIdObj.installVideo" class="row product-video video-container">
                <h4>Installation Guide Video</h4>
                <div my-youtube code="productIdObj.installVideo" class="youtube-wrapper"></div>
            </div>
        </div>
    </section>
    <section ng-if="photoList">
        <div class="container">
            <h5 class="collection-header features oswald">Portfolio:</h5>
            <div class="portfolio-container col s12 m7">
                <div class="card" ng-repeat="pictureItem in photoList">
                    <div class="card-image portfolio-item" ng-show="$index === activeImg">
                        <img class="portfolio-image" alt="{{ pictureItem.alt }}" ng-src="/img/portfolio/portfolio_{{ pictureItem.url }}.jpg">
                    </div>
                </div>
                <div class="portfolio-info-wrapper">
                    <i ng-class="activeImg !== 0 ? 'clickable' : ''" class="material-icons dp48 portfolio-left-icon" ng-click="prevSlide()">chevron_left</i>
                    <div class="portfolio-item-description row">
                        <div>
                            <b>Project Name: </b>{{ photoList[activeImg].projectName }}</div>
                        <div>
                            <b>Details: </b>{{ photoList[activeImg].projectDetails }}</div>
                    </div>
                    <i ng-class="activeImg !== photoList.length - 1 ? 'clickable' : ''" class="material-icons dp48 portfolio-right-icon" ng-click="nextSlide()">chevron_right</i>
                </div>
            </div>
    </section>
</main>