<main id="main-career-content">
    <section id="product-banner" class="flex-center">
        <img class="responsive-img" id="product-jumbo" src="/img/jumbo_contact.jpg">
    </section>
    <div class="full-width-slider-divider"></div>
    <div class="container">
        <div class="row center">
            <div class="col s12">
                <h2 class="product-name-heading oswald">Careers</h2>
                <div class="divider"></div>
                <h2 class="product-name-subhead">Why Join LITSCO?</h2>
            </div>
        </div>
        <section id="section-career-overview">
            <div class="career-description">
                <p>LITSCO has been building its business in the NYC metro area since 1918 and continues to grow as a locally
                    owned and operated company that’s small enough to feel like family and big enough to provide personal
                    growth opportunity for its team members.</p>
                <p>The New York construction market continues to remain strong, and due to the demand of our growing base of
                    clients, and continued success, we are expanding. Our work environment is diverse, dynamic, and we care
                    about the success of our team. Highlights include:</p>
                <ul id="career-features">
                    <li><i class="career-features-bullet material-icons dp48 blue-text text-darken-4">play_circle_filled</i>An
                        Independent company, started in Queens, New York, almost 100 years ago, which means no corporate
                        policies
                    </li>
                    <li><i class="career-features-bullet material-icons dp48 blue-text text-darken-4">play_circle_filled</i>Learn
                        about architectural design and construction process</li>
                    <li><i class="career-features-bullet material-icons dp48 blue-text text-darken-4">play_circle_filled</i>Freedom
                        to work inside and outside the office</li>
                    <li><i class="career-features-bullet material-icons dp48 blue-text text-darken-4">play_circle_filled</i>Owner
                        run and operated, so you interact daily with those who have built success</li>
                    <li><i class="career-features-bullet material-icons dp48 blue-text text-darken-4">play_circle_filled</i>Competitive,
                        results oriented salaries with room to grow</li>
                    <li><i class="career-features-bullet material-icons dp48 blue-text text-darken-4">play_circle_filled</i>Flexible
                        Spending Accounts for health coverage</li>
                    <li><i class="career-features-bullet material-icons dp48 blue-text text-darken-4">play_circle_filled</i>Retirement
                        401(k) matching and profit sharing</li>
                </ul>
            </div>
        </section>
        <section id="section-career-positions">
            <div>
                <h5 class="oswald">Open Positions</h5>
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header career-position-head"><i class="material-icons">filter_drama</i>Architectural Metal Panel Project Manager
                        </div>
                        <div class="collapsible-body career-position-body">
                            <span class="career-position-titles">Overview:</span>
                            <p>LITSCO focuses on precision fabrication of aluminum facade panels and value-added distribution
                                of leading pre-formed metal panel systems from leading manufacturers including LITSCO's Streamline©
                                Panels, Centria, Fabral, ATAS, PAC-CLAD and more. A primary focus of the position will be
                                to promote, market, and sell our Streamline© metal panels and commercial panel products by
                                maintaining and expanding company’s customer and architectural specification base. Additionally,
                                the candidate will manage the sales and estimating of projects for the metal panel projects,
                                and therefore, the ability to negotiate contract terms and pricing with vendors and manufacturers
                                will be part of the role.</p>
                            <p>The candidate will oversee projects from the initial request for bid, to clarify scope of work,
                                coordinate with our fabrication team for scheduling and output, and negotiate costs and delivery
                                dates with vendors. In addition, position will require project site visits for field assistance
                                related our in-house staff for detailing and development of shop drawings. There will be
                                a major role to work across account lines within existing accounts, as well as identifying
                                new opportunities, create relationships with architects and building owners to create and
                                develop specifications, act as liaison to manufacturers’ reps, and provide quotations to
                                prospects. Delegates day to day office operations to appropriate personnel, and required
                                to perform all duties in the absence of personnel.</p>
                            <p>This is a full-time position.</p>
                            <span class="career-position-titles">Requirements:</span>
                            <ul class="career-requirements-list">
                                <li>3+ years proven metal panel sales experience at architectural and project level.</li>
                                <li>Minimum 2 years college or military service.</li>
                                <li>Technical understanding of rainscreen systems and total wall assemblies including insulation
                                    and air barriers, ability to read architectural specifications and drawings, and comprehension
                                    of metal building components.</li>
                                <li>Proficient computer skills and familiarity with Estimating Software, Microsoft Office products
                                    such as Word, Outlook and Excel.</li>
                                <li>CSI Certification a Big Plus!</li>
                                <li>Self-motivated with discipline to follow up leads.</li>
                                <li>Experience with CRM methods.</li>
                                <li>Ability to work with variety of people including those with English as second language.</li>
                                <li>Solid verbal and written communication and listening skills.</li>
                                <li>Valid Driver’s license and insurable driving record.</li>
                            </ul>
                            <p>If this is a good fit for you, please apply by clicking the button below.</p>
                            <div class="center">
                                <a class="waves-effect waves-light btn amber darken-4 hide-on-med-lrg-and-down" id="apply-1" ng-click="applicationClick('Architectural Metal Panel Project Manager')">Apply</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header career-position-head"><i class="material-icons">filter_drama</i>Account Manager
                        </div>
                        <div class="collapsible-body career-position-body">
                            <span class="career-position-titles">Overview:</span>
                            <p>Known for our technical expertise in the roofing, waterproofing, and architectural metal panel
                                industries, LITSCO focuses on distribution of commercial building products to top quality
                                professional contractors. Due to our close relationships with our vendors, such as Johns
                                Manville, Soprema, Firestone, Carlisle Coatings (CCW), Laurenco, and Fabral, we can be more
                                than just order takers: clients come to us for advise on plans, specifications, and detailing
                                of their projects. Our team focus on value-added services such as boom truck deliveries to
                                the roof top, in-house tapered insulation design and metal shop drawings, managing project
                                logistics such as material inventory, and accurate client billing.</p>
                            <p>The candidate must have proven experience in developing account leads, ensuring success for the
                                entire lifecycle using a CRM, track and follow opportunities, strong history in sales of
                                building products including the understanding of pricing from vendors and to clients, knowledge
                                of the building envelope assemblies from the foundation to the roof, and be able to read
                                plans and specifications. The position requires handling incoming inquiries from customers
                                via phone, email, fax, or walk-ins, as well as from internal references. Additionally, it
                                is expected to be able to drive to and from client appointments and job sites. You will learn
                                about how to build and develop client relationships to ensure a rich experience for your
                                accounts. Experience with commercial roofing and waterproofing products is a plus!</p>
                            <p>This is a full-time position.</p>
                            <span class="career-position-titles">Requirements:</span>
                            <ul class="career-requirements-list">
                                <li>2+ years construction sales.</li>
                                <li>2+ years of college or military service.</li>
                                <li>Self-motivated, independent, reliable.</li>
                                <li>Ability to work with variety of people including those with English as a second language.</li>
                                <li>Strong communication skills - both verbal and written.</li>
                                <li>Strong computer skills and familiarity with Microsoft Office and Bluebeam.</li>
                                <li>Experience with CRM methods a plus!</li>
                                <li>Experience reading specifications and plans.</li>
                                <li>Valid Driver’s license and insurable driving record.</li>
                            </ul>
                            <p>If this is a good fit for you, please apply by clicking the button below.</p>
                            <div class="center">
                                <a class="waves-effect waves-light btn amber darken-4 hide-on-med-lrg-and-down" id="apply-2" ng-click="applicationClick('Account Manager')">Apply</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header career-position-head"><i class="material-icons">filter_drama</i>Have other skills?
                        </div>
                        <div class="collapsible-body career-position-body">
                            <span class="career-position-titles">We're always looking for talented individuals</span>
                            <p>If you don't see a position that fits your needs, please feel free to fill out the below contact
                                form with your resume attached. If an opportunity becomes available we will reach out to
                                you.</p>
                            <div class="center">
                                <a class="waves-effect waves-light btn amber darken-4 hide-on-med-lrg-and-down" id="apply-3" ng-click="applicationClick('')">Apply</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section id="careers-application-form" ng-show="selectedPosition">
            <div class="row">
                <form class="col s12" ng-submit="postCareers(careerData)">
                    <div class="row">
                        <p class="application-header">About You:</p>
                        <div class="input-field col s6">
                            <input id="first_name" type="text" class="validate form-career-input-field" aria-required="true" ng-model="careerData.first">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate form-career-input-field" aria-required="true" ng-model="careerData.last">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="email" type="email" class="validate form-career-input-field" aria-required="true" ng-model="careerData.email">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="telephone" type="tel" class="validate form-career-input-field" aria-required="true" ng-model="careerData.phone">
                            <label for="telephone">Telephone</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="address" type="text" class="validate form-career-input-field" aria-required="true" ng-model="careerData.address">
                            <label for="address">Address</label>
                        </div>
                    </div>
                    <div class="row">
                        <p class="application-header">Position Information:</p>
                        <div class="input-field col s12">
                            <input id="position" type="text" class="validate form-career-input-field" ng-model="positionName" aria-required="true">
                            <label for="position" id="position-label">Position You Are Applying For</label>
                        </div>
                    </div>
                    <div class="row">
                            <div class="input-field col s12">
                              <textarea id="textarea1" class="materialize-textarea form-career-input-field" aria-required="true" ng-model="careerData.message"></textarea>
                              <label for="textarea1">Why Are You Interested?</label>
                            </div>
                          </div>
                    <div class="row">
                        <div class="file-field input-field col s12 m6">
                            <div class="btn flex-center amber darken-4">
                                <i class="material-icons dp48">attach_file</i>
                                <span>Upload</span>
                                <input type="file" file-model="careerData.attachment" aria-required="true" name="attachment">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate form-career-input-field" type="text" placeholder="Attach File: PDF, DOC types only">
                            </div>
                        </div>
                    </div>
                    <div class="row right">
                            <button class="btn waves-effect waves-light form-career-submit" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                </form>
            </div>
        </section>
</main>