<main id="main-index-content">
    <section id="index-banner" class="container flex-center">
        <div class="container">
            <div class="col s12 m5">
                <div class="card-panel" id="index-banner-card">
                    <h1 class="blue-text text-darken-4" id="index-banner-card-text">Streamlining the supply of construction materials to professional contractors for 100 years
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section id="index-cards" class="container">
        <div class="row" id="index-cards-row main-category-cards">
            <div class="col s12 m12 l4">
                <div class="card main-category">
                    <div class="card-image">
                        <div class="card-bg-img" id="card-image-1"></div>
                        <a ui-sref="streamline_panels({ cat: 'streamline_metal_panels' })" class="card-title home-cards-title oswald">Streamline Metal Panels</a>
                        <a ui-sref="streamline_panels({ cat: 'streamline_metal_panels' })" class="btn-floating btn-large halfway-fab waves-effect waves-light amber darken-3"><i class="material-icons">link</i></a>
                    </div>
                    <div class="card-content index-3-cards-content">
                        <h3 class="index-cards-text">Our Streamline panels are the original series of metal cladding, always handmade in Queens, New York. We've since expanded to a variety of panel systems for roofs and walls.</h3 class="index-cards-text">
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card main-category">
                    <div class="card-image">
                        <div class="card-bg-img" id="card-image-2"></div>
                        <a ui-sref="streamline_panels({ cat: 'metal_flashing' })" class="card-title home-cards-title oswald">Metal Flashing</a>
                        <a ui-sref="streamline_panels({ cat: 'metal_flashing' })" class="btn-floating btn-large halfway-fab waves-effect waves-light amber darken-3"><i class="material-icons">link</i></a>
                    </div>
                    <div class="card-content index-3-cards-content">
                        <h3 class="index-cards-text">To ensure your cladding and waterproofing systems remain protected from the elements, our ANSI/SPRI-ES1
                            tested metal flashings tie into a variety of systems.</h3 class="index-cards-text">
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card main-category">
                    <div class="card-image">
                        <div class="card-bg-img" id="card-image-3"></div>
                        <a ui-sref="supplies" class="card-title home-cards-title oswald">Division 7 Supplies</a>
                        <a ui-sref="supplies" class="btn-floating btn-large halfway-fab waves-effect waves-light amber darken-3"><i class="material-icons">link</i></a>
                    </div>
                    <div class="card-content index-3-cards-content">
                        <h3 class="index-cards-text">From below grade waterproofing, to air-and-vapor building wraps, to flat roofing, we are aligned
                            with the best manufacturers of Division 7 building products in the industry.</h3 class="index-cards-text">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="index-how" class="section-with-padding">
        <div class="container center">
            <div class="row col s12 m12 l12">
                <h3 class="index-how-header oswald">Smart Products, Smarter Service</h3>
                <h4>LITSCO has you covered.</h4>
            </div>
            <div class="row col s12 m12 index-how-wrapper">
                <div class="col s12 m6 wrapper-how-circle">
                    <div class="col s4">
                        <div class="about-svg-wrapper">
                            <img src="img/home_1.svg" class="home-about-svg" alt="LITSCO about">
                        </div>
                    </div>
                    <div class="col s8">
                        <h5>Near 100 Years</h5>
                        <p class="index-how-text">No one has the proven track record we do. From experienced managers, to top rated delivery truck
                            drivers, to customized products, we have seen it all.</p>
                    </div>
                </div>
                <div class="col s12 m6 wrapper-how-circle">
                    <div class="col s4">
                        <div class="about-svg-wrapper">
                            <img src="img/home_2.svg" class="home-about-svg" alt="LITSCO about">
                        </div>
                    </div>
                    <div class="col s8">
                        <h5>Relationship Driven</h5>
                        <p class="index-how-text">We depend on our clients, our clients depend on us. The trust is mutual and we learn from eachother.</p>
                    </div>
                </div>
                <div class="col s12 m6 wrapper-how-circle">
                    <div class="col s4">
                        <div class="about-svg-wrapper">
                            <img src="img/home_3.svg" class="home-about-svg" alt="LITSCO about">
                        </div>
                    </div>
                    <div class="col s8">
                        <h5>Independent & Locally<br>Owned</h5>
                        <p class="index-how-text">We are unique in that we are part of the Nemeon co-operative, rather than owned by a corporation
                            out of state. Trust us to know how the New York Tri-State region operates.</p>
                    </div>
                </div>
                <div class="col s12 m6 wrapper-how-circle">
                    <div class="col s4">
                        <div class="about-svg-wrapper">
                            <img src="img/home_4.svg" class="home-about-svg" alt="LITSCO about">
                        </div>
                    </div>
                    <div class="col s8">
                        <h5>Trustworthy Management</h5>
                        <p class="index-how-text">Whether it is customized terms or unique jobsite conditions, our managers have the experience to
                            help lead you to success.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="index-carousel">
        <div class="carousel carousel-slider">
            <a class="carousel-item"><img src="img/carousel_min_4.jpg"></a>
            <a class="carousel-item"><img src="img/carousel_min_1.jpg"></a>
            <a class="carousel-item"><img src="img/carousel_min_2.jpg"></a>
            <a class="carousel-item"><img src="img/carousel_min_3.jpg"></a>
        </div>
    </section>
    <section id="index-map" class="section-with-padding">
        <div class="row flex-row-around-center" id="map-wrapper">
            <map class="col s12 m8 l8" center="{{ litsco }}" zoom="12" pan-control="false" zoom-control="true">
                        <directions 
                        panel="directions-panel" 
                        travel-mode="DRIVING" 
                        origin="{{ originAddress }}" 
                        destination="LITSCO, 76-11 88th St, Glendale, NY 11385">
                        </directions>
                        <marker position="{{ litsco }}">
                    </map>
            <div class="col s12 l4">
                <div>
                    <h5 class="oswald">Get Directions to LITSCO</h5>
                </div>
                <div class="row map-directions-wrapper">
                    <div ng-hide="originTrue" class="input-field col s12">
                        <input id="start_address" type="text" class="validate" ng-model="originAddress">
                        <label for="start_address">Your Address</label>
                    </div>
                    <button ng-hide="originTrue" class="btn waves-effect waves-light amber darken-3" type="button" ng-click="showDirections(originAddress)">Let's Go
                            <i class="material-icons right">send</i>
                        </button>
                    <button ng-show="originTrue" ng-click="hideDirections()" class="btn waves-effect waves-light" type="button">Start Over
                                <i class="material-icons dp48 right">refresh</i>
                            </button>
                    <div ng-show="originTrue" id="directions-panel" style="height: 100%; overflow: auto; padding: 0px 5px">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>