<main class="top-margin-nav-height" id="main-product-content">
    <section id="product-banner" class="flex-center">
        <img class="responsive-img" id="product-jumbo" src="{{ productIdObj.jumboImg }}">
    </section>
    <div class="full-width-slider-divider"></div>
    <section>
        <div class="container">
            <div class="row center">
                <div class="col s12">
                    <h2 class="product-name-heading oswald">{{ productIdObj.productName }}</h2>
                    <div class="divider"></div>
                    <h6 class="product-name-subhead">{{ productIdObj.subHeader }}</h6>
                </div>
            </div>
            <div class="row flex-row-wrap">
                <div class="prod-illustration-div col s12 l8">
                    <div class="prod-svg-wrapper" ng-include="'/img/illustrations/illustration_' + productIdObj.illustration + '.svg'"></div>
                </div>
                <div class="col s12 l4 product-button-card">
                    <div class="product-color-list" ng-init="calculateRows()">
                        <div ng-repeat="(color, hex) in productIdObj.colors" class="product-color-chip-container" style="margin: 10px;">
                            <div ng-mouseover="hoverColorText(color)" ng-mouseleave="hoverColorText()" class="z-depth-2 product-color-chip {{color}}" alt="{{ hoverColor }}" style="background-color: {{ hex }};"></div>
                        </div>
                    </div>
                    <p class="product-hover-color-text"> {{ hoverColor }} </p>
                </div>
            </div>
            <div class="row">
                <div class="card grey lighten-4">
                    <ul class="product-card-buttons flex-row-around-center">
                        <li>
                            <h5 class="download oswald">Downloads:</h5>
                        </li>
                        <li ng-if="productIdObj.dataSheetLink" class="product-download-btns waves-effect waves-light"><a href="{{ productIdObj.dataSheetLink }}" class="btn-floating btn-large amber darken-3"><i class="material-icons small">insert_chart</i></a>
                            <p>Data Sheet</p>
                        </li>
                        <li ng-if="productIdObj.quoteSheetLink" class="product-download-btns waves-effect waves-light"><a class="btn-floating btn-large amber darken-3" href="{{ productIdObj.quoteSheetLink }}"><i class="material-icons small">format_quote</i></a>
                            <p>Quote Request</p>
                        </li>
                        <li class="waves-effect waves-light"><a class="product-download-btns btn-floating btn-large amber darken-3" href=""><i class="material-icons dp48">invert_colors</i></a>
                            <p>Color Chart</p>
                        </li>
                        <li ng-if="productIdObj.specPageLink" class="product-download-btns waves-effect waves-light"><a class="btn-floating btn-large amber darken-3" href="{{ productIdObj.specPageLink }}"><i class="material-icons small">attach_file</i></a>
                            <p>Spec Sheet</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p class="product-overview"> {{ productIdObj.overview }}</p>
                <div class="divider"></div>
            </div>
            <div class="row" ng-init="calculateColumns()">
                <h5 class="collection-header">Features</h5>
                <ul class="collection with-header col sm12 l6 product-features-list" ng-repeat="column in columns">
                    <li class="collection-item" ng-repeat="feature in productIdObj.features | slice:column.start:column.end">
                        <a class="left"><i class="material-icons dp48 blue-text text-darken-4">play_circle_filled</i></a>
                        <div>{{ feature }}</div>
                    </li>
                </ul>
            </div>
            <img class="prod-detail-img" src="{{ productIdObj.detailImg }}">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs product-tabs">
                        <li class="tab col s6"><a ng-click="currentTab(1)" class="active product-tab-name" href="#tab_1">Installation</a></li>
                        <li class="tab col s6"><a ng-click="currentTab(2)" class="product-tab-name" href="#tab_2">Materials</a></li>
                    </ul>
                </div>
                <div ng-show="current_tab === 1" id="tab_1" class="product-tab-details col s12">
                    <div ng-repeat="(install, description) in productIdObj.installation">
                        <h5 class="product-tab-details-heading"> {{ install }}:</h5>
                        <p class="product-tab-details-description">{{ description }}</p>
                    </div>
                </div>
                <div ng-show="current_tab === 2" id="tab_2" class="product-tab-details col s12" ng-repeat="(material, types) in productIdObj.materials">
                    <div>
                        <h5 class="product-tab-details-heading">{{ material }}</h5>
                        <p class="product-tab-details-description" ng-repeat="materials in types ">{{ materials }}</p>
                    </div>
                </div>
            </div>
            <div ng-if="productIdObj.installVideo" class="row product-video video-container">
                <h4>Installation Guide Video</h4>
                <div my-youtube code="installVideoCode(productIdObj.installVideo)" class="youtube-wrapper"></div>
            </div>
            <!-- <div ng-if="productIdObj.portfolio" class="row portfolio-container">
                <div class="responsive-img">
                    <img src="" alt="" class="materialboxed">
                </div>
                <ul class="collection">
                    <li class="col s2 collection-item gallery-thumbnail" ng-repeat="photo in productIdObj.portfolio">
                        <img class="portfolio-thumbail-image" ng-src="/img/portfolio/portfolio_{{ photo }}.jpg">
                    {{photo}}
                    </li>
                    
                </ul>
            </div> -->
        </div>
    </section>
</main>