<main class="top-margin-nav-height" id="main-product-content">
    <section id="product-banner" class="container flex-center">
        <img class="responsive-img" id="product-jumbo" src="{{ productIdObj.jumboImg }}">
    </section>
    <div class="container full-width-slider-divider"></div>
    <section>
        <div class="container">
            <div class="row center">
                <div class="col s12">
                    <h2>{{ productIdObj.productName }}</h2>
                    <div class="divider"></div>
                    <h6>{{ productIdObj.subHeader }}</h6>
                </div>
            </div>
            <div class="row flex-row-wrap">
                <div class="prod-detail-div col s12 l8">
                    <!--<prodSvg></prodSvg>-->
                    <object id="object-product-wrapper" data="/img/omniwall_md_illustration.svg" type="image/svg+xml" ng-style="svgFillColor"></object>
                    <img class="prod-detail-img" src="{{ productIdObj.detailImg }}">
                </div>
                <div class="col s12 l4 product-button-card">
                    <div class="product-color-list" ng-init="calculateRows()">
                        <!-- <h5>Color Visualizer</h5> -->
                        <!-- <ul class="product-color-list"> -->
                            <div ng-repeat="(color, hex) in productIdObj.colors" class="product-color-chip-container" style="margin: 10px;">
                                <div ng-mouseover="hoverColorText(color)" ng-mouseleave="hoverColorText()" class="product-color-chip {{color}}" alt="{{ hoverColor }}" style="background-color: {{ hex }};"></div>
                            </div>
                        <!-- </ul> -->
                    </div>
                        <p class="product-hover-color-text"> {{ hoverColor }} </p>
                    <div class="card grey lighten-4">
                        <ul class="product-card-buttons flex-row-around-center">
                            <li ng-if="productIdObj.dataSheetLink" class="product-download-btns waves-effect waves-light"><a href="{{ productIdObj.dataSheetLink }}" class="btn-floating btn-large amber darken-3"><i class="material-icons small">insert_chart</i></a>
                                <p>Data Sheet</p>
                            </li>
                            <li ng-if="productIdObj.quoteSheetLink" class="product-download-btns waves-effect waves-light"><a class="btn-floating btn-large amber darken-3" href="{{ productIdObj.quoteSheetLink }}"><i class="material-icons small">format_quote</i></a>
                                <p>Quote Request</p>
                            </li>
                            <li class="waves-effect waves-light"><a class="product-download-btns btn-floating btn-large amber darken-3" href=""><i class="material-icons dp48">invert_colors</i></a>
                                <p>Color Chart</p>
                            </li>
                            <li ng-if="productIdObj.specPageLink" class="product-download-btns waves-effect waves-light"><a class="btn-floating btn-large amber darken-3" href="{{ productIdObj.specPageLink }}"><i class="material-icons small">attach_file</i></a>
                                <p>Spec Sheet</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <p> {{ productIdObj.overview }}</p>
                <div class="divider"></div>
            </div>
            <div class="row" ng-init="calculateColumns()">
                <h5 class="collection-header">Features</h5>
                <ul class="collection with-header col sm12 l6 product-features-list" ng-repeat="column in columns">
                    <li class="collection-item" ng-repeat="feature in productIdObj.features | slice:column.start:column.end">
                        <a class="left"><i class="material-icons dp48 blue-text text-darken-4">play_circle_filled</i></a>
                        <div>{{ feature }}</div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s6"><a class="active" href="#test1">Installation</a></li>
                        <li class="tab col s6"><a href="#test2">Materials</a></li>
                    </ul>
                </div>
                <div id="test1" class="col s12">
                    <div ng-repeat="(install, description) in productIdObj.installation">
                        <h5> {{ install }}:</h5> 
                        <p>{{ description }}</p>
                    </div>
                </div>
                <div id="test2" class="col s12" ng-repeat="(material, types) in productIdObj.materials">
                    <div>
                        <h5>{{ material }}</h5>
                        <p ng-repeat="materials in types ">{{ materials }}</p>
                    </div>
                </div>
            </div>
    </section>
</main>